<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>
            
            <h1>Nie daj się oszukać!!!</h1> 
<h2>6 powodów dlaczego warto wybrać AUTO TURBO!!!</h2>

<ul>
    <li>1. <b>Zajęcia teoretyczne</b> - przeprowadzane profesjonalnie przy pomocy najnowszego oprogramowania (system SPS)</li>
    <li>2. <b>Materiały dydaktyczne</b> - nowoczesny podręcznik oraz oryginalne licencjonowane testy z bazą pytań identyczną jak ta na egzaminie państwowym</li>
    <li>3. <b>Sala Wykładowa</b> - profesjonalna sala szkoleniowa wyposażona 
w niezbędne materiały dydaktyczne i pomoce naukowe</li>
    <li>4. <b>Pojazdy w Ośrodku</b> - posiadamy Hyundaie i20 identyczne jak na egzaminie państwowym</li>
    <li>5. <b>Plac manewrowy</b> - pełnowymiarowy z warunkami identycznymi jak na egzaminie państwowym</li>
    <li>6. <b>Instruktorzy</b> - doświadczeni ludzie z wieloletnim stażem</li>

</ul>



        </div>
    </body>
</html>






<p>
	<img class=foto_right_none title=dlaczego_auto_turbo src=http://www.oskautoturbo.pl/img/aktualnosci/7_powodow.jpg>
</p>

<div style=color:red>
    
	<p><p><p><p><b>Nie daj się oszukać!!! </b></p></p></p></p>
	</div>
<div style=color:red>
    <p><b>7 powodów dlaczego warto wybrać AUTO TURBO!!!</b></p>
</div>
<div style=color:blue>
    <p><b>1.  Zajęcia teoretyczne - przeprowadzane profesjonalnie przy pomocy najnowszego oprogramowania</b></p>
</div>

    <p>OSK Auto Turbo jest obecnie w&nbsp;posiadaniu najlepszego programu przeznaczonego do przeprowadzenia zajęć teoretycznych jakim jest Vademecum Wykładowcy SPS, który jest zgodny z&nbsp;ustawą z&nbsp;dnia 19.01.2013. 
		
	</p>

<div><p>Program posiada ok. 1,8 tys. różnych ekranów, wyposażony jest w&nbsp;240 animacji, clipy wideo z&nbsp;realistycznych sytuacji drogowych przedstawionych z&nbsp;perspektywy kierowcy. Co więcej program posiada automatyczną aktualizacje przez Internet co daje, że treści przekazywane w&nbsp;OSK Auto Turbo będą zawsze zgodne ze stanem faktycznym</p>
</div>
<div style=color:blue>
    <p><b>2. Materiały dydaktyczne - nowoczesny podręcznik oraz oryginalne licencjonowane testy z&nbsp;bazą pytań identyczną jak ta na egzaminie państwowym</b></p>
</div>
<div>
    <p>Jako jedyny Ośrodek w&nbsp;Rzeszowie posiadamy podręcznik, który jest integralną część przeprowadzanego wykładu w&nbsp;sali. Książka ta zawiera zdjęcia oraz treści identyczne jak przedstawiane w&nbsp;trakcie wykładu, co jest jedną z&nbsp;głównych zalet systemu SPS, który OSK Auto Turbo posiada. </p>
</div>
<div>
    <p>Aby Kursant  mógł w&nbsp;sposób bardzo dobry przygotować się do egzaminu państwowego z&nbsp;części teoretycznej  dostaje od Ośrodka oryginalne licencjonowane testy z&nbsp;bazą pytań PWPW (Państwowej Wytwórni Papierów Wartościowych) z&nbsp;możliwością aktualizacji bazy pytań przez Internet. Ale to nie wszystko. Ponadto Kursant otrzymuje jeszcze 2 płytki, na których jest około 2 tys. pytań.</p>
</div>
<div>
    <p><b>Wszystkie te materiały są GRATIS i&nbsp;NA własność bez dodatkowych opłat! </b>(nie każemy zwracać materiałów jak inni)</p>
</div>
<div style=color:blue>
    <p><b>3. Sala Wykładowa - profesjonalna sala szkoleniowa wyposażona w&nbsp;niezbędne materiały dydaktyczne i&nbsp;pomoce naukowe</b></p>
</div>
<div>
    <p><b>UWAGA!!! To nie salka w&nbsp;jakiejś szkole gdzie dookoła są ilustracje bitwy pod Grunwaldem albo budowa pantofelka jak w&nbsp;sali biologicznej.</b></p>
</div>
<div>
    <p>Ośrodek Szkolenia Kierowców Auto Turbo posiada profesjonalną  sale szkoleniowa wyposażonej w&nbsp;niezbędne materiały dydaktyczne i&nbsp;pomoce naukowe, które pozwolą przyszłemu kierowcy w&nbsp;jeszcze bardziej obrazowy sposób zrozumieć przepisy ruchu drogowego. Ponadto sala jest w&nbsp;pełni klimatyzowana, a&nbsp;więc słowo upał w&nbsp;lecie jest nam obce. Każdy kursant może w&nbsp;pełni poczuć się swobodnie robiąc kawę, herbatę, zjeść coś słodkiego.</p>
</div>
<div style=color:blue>
    <p><b>4. Pojazdy w&nbsp;Ośrodku - posiadamy Hyundaie i20 identyczne jak na egzaminie państwowym</b></p>
</div>
<div>
    <p>Pojazdy w&nbsp;Naszym Ośrodku są identyczne jak w&nbsp;Wojewódzkim Ośrodku Ruchu Drogowym w&nbsp;Rzeszowie.</p>
</div>
<div>
    <p>Kładziemy duży nacisk na to, aby pojazdy były sprawne i&nbsp;bezpieczne.</p>
</div>
<div>
    <p>Ponadto wszystkie pojazdy  są klimatyzowane i&nbsp;utrzymywane w&nbsp;bardzo dobrym porządku.</p>
</div>
<div style=color:blue>
    <p><b>5. Plac manewrowy - pełnowymiarowy z&nbsp;warunkami identycznymi jak na egzaminie państwowym</b></p>
</div>
<div>
    <p>Ośrodek posiada swój plac manewrowy. Łuki <i><b>rękawy</b></i> są pełnowymiarowe oraz spełniają wszystkie wymogi jak na placu egzaminacyjnym w&nbsp;WORD.  dodatkowo kursant czuje komfort jazdy po placu, gdyż porusza sie po równym asfalcie to wielki plus (bardzo dużo jest placów gdzie nawierzchnia jest pokryta płytami czy kostką brukową, są jakieś zagłębienia i&nbsp;łuki są niepełnowymiarowe). Ponadto pachołki i&nbsp;tyczki są pełnowymiarowe (nawet kolory są takie same jak te na placu egzaminacyjnym). Na naszym placu można również poćwiczyć manewr parkowania równoległego, który jest bardzo zaniedbywany przez niektóre ośrodki.
Dodatkowo Nasz plac jest oświetlony w&nbsp;nocy to kolejny plus!!! </p>
</div>
<div style=color:blue>
    <p><b>6. Instruktorzy - doświadczeni ludzie z&nbsp;wieloletnim stażem</b></p>
</div>
<div>
    <p>Instruktorzy w&nbsp;OSK AUTO TURBO to bardzo doświadczona kadra z&nbsp;wieloletnim stażem. Większość z&nbsp;nich ma ponadto wykształcenie pedagogiczne, dzięki czemu posiada dobrą umiejętność przekazywania wiedzy.</p>
</div>
<div>
    <p>Ponadto jazdy w&nbsp;naszym ośrodku odbywają się codziennie od poniedziałku do niedzieli w&nbsp;godzinach 7 - 21, więc osoby uczące się, studiujące czy pracujące nie będą mieć najmniejszego problemu z&nbsp;umawianiem się na jazdy.</p>
</div>
<div style=color:blue>
    <p><b>7. Filmy instruktażowe</b></p>
</div>
<div>
    <p>Jako jedyny ośrodek w&nbsp;Rzeszowie posiadamy bazę filmów wszystkich tras egzaminacyjnych.</p>
</div>